<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a id="logo" class="navbar-brand" href="#"></a>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item active"><a class="nav-link" href="#"><b>INICIO</b></a></li>
    <li class="nav-item active"><a class="nav-link" href="#"><b>LOJA</b></a></li>
    <li class="nav-item active"><a class="nav-link" href="#"><b>SOBRE</b></a></li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-shopping-cart" style="font-size:24px" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa fa-user" style="font-size:24px" aria-hidden="true"></i></a>
    </li>
  </ul >
</nav>
