.bg-inverse {
  background-color: #ffcd00 !important;
}
.navbar-brand {
  color: #000;
}

.nav-item .nav-link {
  color: #000;

}

#logo{
  width: 470px;
  height: 153px;
  background: url(../../assets/img/logo_branca_bee.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
