.navbar-default {
  background-color: #ffcd00 !important;
}

.navbar-default .navbar-nav li.dropdown a{
  color: #000;
  font-size: 18px;
}

.dropdown {
  padding-left:30px;
  padding-right:30px;
  margin-top: 15px;
}

#logo{
  width: 300px;
  height: 90px;
  background: url(../../assets/img/logo_branca_bee.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
